*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.navbar{
    background-color: #ffffff;
    color: white;
    padding: 15px 50px;
    border-bottom: 3px solid gray;
    position: fixed;
    width: 100%;
}
.logo{
    display: inline-block;
}
.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;

}
.menu{
    display: inline-block;
}
.menu li{
    display: inline-block;
    margin-left: 100px;
    font-size: 20px;
    list-style: none;
}
.menu a{
    color: black;
    text-decoration: none;
}

.menu a:hover,
.menu a.active{
    color: blue;
}
.nav-btn{
    float: right;
    padding: 10px 0px;
}
.nav-btn a{
    color: black;
    text-decoration: none;;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.nav-btn a:hover{
    background-color: black;
    color: white;
}

.hero-btn {
    display: inline-block;
    padding: 20px ;
}
.hero-btn a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s;
    padding-bottom: 10px;
}
.hero-btn a:hover {
    background-color: #0056b3;
}

.hero{
    padding: 100px 50px;
    text-align: center;
}
.hero h1{
    font-size: 48px;
    color: #333;
    padding-bottom: 20px;
}
.hero p{
    font-size: 20px;
    color: #666;
    padding-bottom: 30px;
}

.hero-img{
    margin-top: 20px;
}
.hero-img img{
    width: 75%;
    height: auto;
    border-radius: 10px;
    max-height: 700px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}